* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.class-ramka {
  background-color: white;
  width: 100%;
  padding-left: 30px;
}

.class-naslov {
  text-align: center;
  font-weight: bolder;
}

.span-color {
  color: #3c8c5c;
  font-weight: bold;
}

.class-tekst {
  color: gray;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.card-new {
  height: 300px;
  background-color: whitesmoke;
  /* width: calc(33% - 90px); */
  width: 70%;
  margin: 45px;
  display: inline-block;
  position: relative;
}

.card-new-img {
  height: 300px;
  width: 100%;
  position: absolute;
  top: -50px;
  left: -50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

/* .ramka-sliki {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
} */

.tekst-cena {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  color: gray;
  padding-left: 50px;
}

.tekst-clenarina {
  text-transform: uppercase;
  transform: rotate(270deg);
  width: 220px;
  bottom: 150px;
  right: -85px;
  position: absolute;
  font-size: 14px;
  font-weight: bolder;
}

@media all and (max-width: 555px) {
  .card-clanarina {
    text-align: center;
  }

  .row-clanarina {
    padding-left: 80px;
  }
}

@media all and (min-width: 555px) and (max-width: 973px) {
}

.card-body {
  background-color: whitesmoke;
}

.cards-icons {
  display: flex;
  width: 50px;
  height: 50px;
}

.tekst-ikona {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.ikona-fitnes {
  display: flex;
  color: #3c8c5c;
}

.ikona-kalendar {
  display: flex;
  padding: 0 20px;
  color: gray;
}

.icons-holder {
  display: flex;
  justify-content: start;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  color: gray;
  font-size: 14px;
}
