* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.training {
  background-color: whitesmoke;
}

/* .training-content {
    background-color:#4e4e4e;
    height:300px;
} */
.training-title {
  /* font-weight: 700; */
  font-size: 40px;
  padding: 20px 0 0 30px;
}

.training-discription {
  text-align: center;
  color: black;
  font-size: 20px;
}
.training-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 5px 0;
  position: relative;
}

.container-img {
  background-image: url(../images/logo-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-image {
  position: relative;
  transform: translateX(-25%);
}
@media all and (max-width: 768px) {
  .training {
    padding: 0 20px;
  }
  .training-img {
    height: 300px;
  }
  .modal-image {
    width: 100%;
    transform: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .modal-image {
    width: 100%;
    transform: none;
  }
}

.gallery {
  margin-top: 20px;
}
.gallery-title {
  color: #3c8c5c;
}
.gallery-disc {
  font-size: 30px;
}
.gallery-span {
  color: #3c8c5c;
}
