@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto";
}

/* * * * * * * * MAIN BANNER * * * * * * * */

header {
  background-color: #ffffff;
  height: 100px;
  /* position: sticky; */
  top: 0;
}

.navbar {
  align-content: center;
}

.container {
  height: auto;
}

.main-menu {
  text-align: right;
}

.main-menu > .menu-item {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 24px;
  line-height: 12px;
  margin-top: 26.5px;
  display: inline-block;
  font-weight: bold;
}

.main-menu > .menu-item.active {
  font-weight: bold;
  color: #3c8c5c;
}

.menu-item:hover {
  font-weight: bold;
  color: #3c8c5c;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-nav > .active > a {
  color: #3c8c5c !important;
}

ul.nav a:hover {
  color: #3c8c5c !important;
}

.btn-home {
  background: transparent;
  border-radius: 25px;
  height: 38px;
  line-height: 40px;
  border: 2px solid white;
  display: inline-block;
  float: none;
  text-align: center;
  width: 120px;
  padding: 0px !important;
  font-size: 12px;
  color: #fff;
}

.logo {
  max-width: 40%;
}
.logo-wrapper > .logo {
  margin-top: 17.5px;
}

/* * * * * * * * MAIN BANNER END * * * * * * * */

#main-banner {
  height: calc(100vh - 110px);
  background-image: url("../images/1.jpg");
  overflow: hidden;
}

#person {
  margin-top: 70px;
  margin-left: auto;
  background-image: url("../images/h-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#main-banner .btn {
  border-radius: 25px;
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  border-radius: 25px;
  font-size: 0.9rem;
  font-weight: 600;
  color: whitesmoke;
  padding: 10px 24px;
}

#main-banner .btn:hover {
  background-color: #ffffff;
  border-radius: 25px;
  color: #000000;
  border: 1px solid #ffffff;
}

#quote-wrapper {
  /* margin-top: calc(100% - 75px); */
  color: #ffffff;
  padding-top: 160px;
}

.top-wrapper {
  position: relative;
}

#icon-logo {
  /* letter-spacing: 2px; */
  color: #3c8c5c;
  font-size: 30px;
  position: absolute;
  transform: rotate(-45deg);
  top: 100px;
}

/* @media all and (max-width: 768px) {
  #icon-logo {
    top: 150px;
    margin-left: -80px;
  }
} */

#middle-quote {
  font-size: 3.5rem;
  /* font-weight: 800; */
  padding-right: 65px;
}

#bottom-quote {
  width: 100%;
  font-size: 20px;
}

.grid-holder {
  width: 100%;
  height: 100%;
}

.grid-box {
  width: 25%;
  float: left;
  position: relative;
  border-bottom: 4px solid black;
}

.grid-image {
  width: 100%;
  display: block;
}

.grid-title {
  color: white;
  position: absolute;
  margin: 0;
  left: 15px;
  bottom: 35px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  transition: all 0.5s;
}

.grid-subtitle {
  color: white;
  position: absolute;
  margin: 0;
  bottom: 10px;
  left: 15px;
  z-index: 1;
  transition: all 0.5s;
}

@media all and (min-width: 1182px) {
  #quote-wrapper {
    padding-top: 145px;
  }
}

@media all and (max-width: 1182px) {
  #bottom-quote {
    font-size: 15px;
  }
  #middle-quote {
    font-size: 2.5rem;
  }
}

/*SPORT GRID QUERIES*/

@media all and (max-width: 768px) {
  .grid-box {
    width: 50%;
    float: left;
    position: relative;
  }

  #quote-wrapper {
    text-align: center;
  }

  #middle-quote {
    padding-right: 0;
  }

  #icon-logo {
    left: 260px;
  }

  #person {
    display: none;
  }
}

@media all and (max-width: 576px) {
  /* #middle-quote {
    padding-right: 30px;
  } */

  #quote-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media all and (max-width: 768px) {
  .grid-box {
    width: 100%;
    float: left;
    position: relative;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .grid-holder {
    width: 100%;
    height: 100%;
  }
  .grid-box {
    width: 25%;
    float: left;
    position: relative;
  }
}

/*SPORT GRID QUERIES END*/

/*HOVER OPTION ON SPORT SELECTOR*/

.overlay-content {
  width: 100%;
  background-color: #ffffff52;
  height: 0;
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
}

.grid-box:hover .overlay-content {
  height: 80px;
}

.grid-box:hover .grid-title {
  color: black;
  bottom: 40px;
}

.grid-box:hover .grid-subtitle {
  color: black;
  bottom: 15px;
}
/*END HOVER OPTION ON SPORT SELECTOR*/

.sodrzhina {
  width: 100%;
  background-color: #74c484;
  height: 1000px;
}

/*footer*/

footer {
  background: #3a3a3a;
  color: #fff;
  font-size: 14px;
}
footer .footer-top {
  background: #4e4e4e;
  padding: 50px 0px 20px;
  background-image: url("../images/g1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer .address p {
  font-size: 16px;
  color: #ddd;
  font-style: italic;
}
footer .social-links a {
  font-size: 17px;
  display: inline-block;
  background: white;
  color: gray;
  line-height: 1;
  padding: 9px 0;
  margin-right: 5px;
  border-radius: 100%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.4s;
}
footer .social-links a:hover {
  background: #74c484;
}
footer h4 {
  font-size: 18px;
  color: #74c484;
  padding-bottom: 12px;
}
footer .footer-menus {
  margin-bottom: 30px;
}
footer .footer-menus ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-menus ul li {
  margin-bottom: 10px;
}
footer .footer-menus ul i {
  color: #ffffff;
  font-size: 12px;
  margin-right: 3px;
}
footer .footer-menus ul a {
  color: #fff;
  text-decoration: none;
}
footer .footer-menus ul a:hover {
  color: #74c484;
}
footer .newsletter form {
  margin-top: 30px;
  background: #3a3a3a;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #3a3a3a;
}
footer .newsletter form input[type="email"] {
  border: 0;
  padding: 5px;
  background: #3a3a3a;
  color: #fff;
}
footer .newsletter form input[type="email"]:focus {
  outline: none;
}
footer .newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  font-size: 16px;
  background: #74c484;
  color: #000;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
footer .newsletter form input[type="submit"]:hover {
  background: #74c484;
}
.footer-bottom {
  padding: 20px 0px;
}
footer .footer-bottom a {
  color: #74c484;
  text-decoration: none;
}

.map-responsive {
  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;
}

.map-responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;
}
