@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.equipments {
  margin-top: 60px;
  height: auto;
}

.eguip-top-holder {
  height: auto;
}

.img-equipments {
  background-image: url(../images/equipments.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 570px;
  margin-top: 50px;
}

.equip-text-box {
  padding-top: 30px;
  margin-top: 50px;
}

span {
  color: #3c8c5c;
}

.equip-list {
  margin-top: 40px;
}

.form-check {
  display: flex !important;
}

input[type="radio"] {
  border-color: #3c8c5c;
}

.form-check-input:checked {
  background-color: #3c8c5c;
  border-color: #3c8c5c;
}

.form-check-input[type="radio"] {
  min-width: 20px !important;
  min-height: 20px !important;
}

.form-check-label {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.text-color {
  color: lightgray;
}

.equip-bottom {
  height: 300px;
}

.equip-middle {
  margin: 0 60px;
  height: auto;
}

.equip-midle-left {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #e0e0e0;
  height: auto;
}

.equip-middle-holder-text {
  padding: 0 50px 0 75px;
}
.equip-text-middle {
  font-size: 12px;
}

.equip-title-middle {
  margin-top: 25px;
}

.icon-holder {
  position: relative;
}

.equip-icon {
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 10px;
}

.rotate {
  transform: rotate(139deg);
}

.equip-img-bottom-holder {
  padding: 0;
}

.equip-img-bottom {
  background-image: url(../images/photo-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 50%;
  height: 100%;
}

ul li {
  list-style: none;
  display: inline;
}

.list-group-flush {
  word-spacing: 15px;
  display: inline;
  padding-bottom: 10px;
  cursor: pointer;
  padding-top: 10px;
}

.card-icon:hover {
  color: #3c8c5c;
}

.card-body {
  background-color: rgba(241, 241, 241, 0.959);
}

.list-group {
  background-color: rgb(240, 235, 235);
}

@media all and (max-width: 576px) {
  .equip-left {
    height: auto;
  }
  .equip-icon {
    font-size: 20px;
    top: 30px;
    left: 25px;
  }

  /* .equip-img-bottom {
    height: 350px;
  } */

  .img-equipments {
    height: 380px;
  }
}

@media all and (max-width: 768px) {
  .instructors-card {
    margin: 0 auto;
  }

  .equip-list {
    margin-top: 0;
  }

  .form-check {
    min-height: 2.5rem;
  }

  .equip-text-box {
    margin-bottom: 40px;
    padding: 0 40px;
  }

  .equip-icon {
    font-size: 40px;
  }

  .equip-icon {
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .eguip-top-holder {
    display: flex;
    flex-flow: column-reverse;
  }
}

@media all and (min-width: 768px) {
  .equip-text-box {
    width: 46%;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  /* .equip-img-bottom {
    height: 350px;
  } */

  .img-equipments {
    height: 520px;
    width: 100%;
  }
}

@media all and (min-width: 992px) {
  .img-equipments {
    height: 460px;
  }

  .holder-bottom-text {
    padding: 30px 200px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  /* .equip-img-bottom {
    height: 350px;
  } */

  .img-equipments {
    height: 340px;
  }

  .best-equip {
    font-size: 26px;
  }

  .equip-list {
    font-size: 13px;
    padding: 0;
  }

  .eguip-quote {
    font-size: 13px;
    margin-bottom: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .equip-title-middle {
    font-size: 20px;
  }
}

/* @media all and (min-width: 975px) and (max-width: 1182px) {
  .equip-img-bottom {
    height: 350px;
  }
}

@media all and (min-width: 1183px) and (max-width: 1382px) {
  .equip-img-bottom {
    height: 100%;
  }
} */

@media all and (min-width: 1034px) and (max-width: 1182px) {
  .equip-list {
    margin-top: 0;
  }
}

/*////*/

@media all and (max-width: 992px) {
  .equip-img-bottom {
    height: 350px !important;
  }
}

@media all and (min-width: 992px) {
  .equip-img-bottom {
    height: 100% !important;
  }
}
